In [0]:
import numpy as np
import pandas as pd

# Reading and Writing Files

Dealing with files is an essntial part of data analysis. We need to be able to bring data from various sources into pandas, and then export the transformed data.

![File IO](https://drive.google.com/uc?id=1KlI740kgtcRzM0Gw_Pow2f8vjuyu5XHh)

Before we begin, we need to mount your google drive by running the below code.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Now upload the csv file:

- Click the "files" icon inn the far left of this screen
- Click the "upload button at the top
- Find the CSV on your local machine and upload it to the notebook

Running the cell below should output the file that was just uploaded. If not, ask for help!

In [36]:
import os
for root, dirs, files in os.walk('/content/'):
  print (files)
  break

['titanic_subset.txt']

Now that the file is available, we can open it with the Pandas `read_csv` function

In [37]:
csv_path = '/content/titanic_subset.txt'
titanic = pd.read_csv(csv_path)
titanic

     PassengerId  Survived  Pclass  ...      Fare    Cabin  Embarked
0              1         0       3  ...    7.2500      NaN         S
1              2         1       1  ...   71.2833      C85         C
2              3         1       3  ...    7.9250      NaN         S
3              4         1       1  ...   53.1000     C123         S
4              5         0       3  ...    8.0500      NaN         S
..           ...       ...     ...  ...       ...      ...       ...
495          496         0       3  ...   14.4583      NaN         C
496          497         1       1  ...   78.2667      D20         C
497          498         0       3  ...   15.1000      NaN         S
498          499         0       1  ...  151.5500  C22 C26         S
499          500         0       3  ...    7.7958      NaN         S

[500 rows x 12 columns]

Looking at the dataframe, we see information about some of the passengers on the titanic.

'/content'